/* Only for minor global tweaks */

body {
  scroll-behavior: smooth;
  background-color: url('sunshine.jpeg');
  background-image: url('https://images.unsplash.com/photo-1521587760476-6c12a4b040da?auto=format&fit=crop&w=2000&q=80');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Optional: animate alert fade */
#alertContainer > div {
  transition: all 0.3s ease;
}