/* Only for minor global tweaks */

body {
  background-color: rgb(209, 238, 130);
  scroll-behavior: smooth;
}

/* Optional: animate alert fade */
#alertContainer > div {
  transition: all 0.3s ease;
}