/* Only for minor global tweaks */

body {
  background-color: rgb(187, 255, 0);
  scroll-behavior: smooth;
}

/* Optional: animate alert fade */
#alertContainer > div {
  transition: all 0.3s ease;
}