/* Only for minor global tweaks */

body {
  scroll-behavior: smooth;
  background-color: url('sunshine.jpeg');
}

/* Optional: animate alert fade */
#alertContainer > div {
  transition: all 0.3s ease;
}